<head>
    <title>ngMadLibs</title>
    <script type="text/javascript" src="/tf-angular/assets/js/angular.min.js"></script>
    <script type="text/javascript" src="/tf-angular/assets/js/angular-animate.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/madlibs.css">
</head>
<body ng-app="myApp">
<div ng-controller="madlibs" id="content">
    <header>
        <section id="icon"></section>
        <section id="title">
            <img src="../images/ng-mad-libs-logo.png"/>
            <br/>

            <h1>Automate This!</h1>
        </section>
    </header>
    <section id="inputs" ng-show="!generated">
        <div class="errors">
        </div>
        Provide the following words:
        <br/>

        <div class="errors">
            <div class="invalid-pattern" ng-if="invalidHugeNumber">Huge Number must be a Number</div>
        </div>
        <form ng-class="{submitted:submitted}" name="madlibFields" ng-submit="generateMadLib()" novalidate>
            <select required ng-model="gender">
                <option value="">Select Gender</option>
                <option value="female">Female</option>
                <option value="male">Male</option>
            </select>
            <br/>

            <div class="input-fields">
                <input type="text" required ng-model="name" placeholder="name"/>
                <input type="text" required ng-model="jobTitle" placeholder="Job title"/>
                <input type="text" required ng-model="tediousTask" placeholder="Tedious task"/>
            </div>
            <div class="input-fields">
                <input type="text" required ng-model="dirtyTask" placeholder="Dirty task"/>
                <input type="text" required ng-model="celebrity" placeholder="Celebrity"/>
                <input type="text" required ng-model="uselessSkill" placeholder="Useless skill"/>
            </div>
            <div class="input-fields">
                <input type="text" required ng-model="obnoxiousCelebrity" placeholder="Obnoxious celebrity"/>
                <input type="text" required ng-model="hugeNumber" placeholder="Huge number" ng-pattern="/[0-9]+/"/>
                <input type="text" required ng-model="adjective" placeholder="Adjective"/>
            </div>
            <div id="split">
                <input type="submit" value="Generate My Mad Lib"/>
                <input type="button" value="Load Values" ng-click="loadFields()"/>
            </div>
        </form>
    </section>
    <section class="madlib" id="display" ng-class="{offscreen:!generated,onscreen:generated}">
        <p>
            <span class="replace" ng-class="{on:generated}">{{name}}</span> was a
            <span class="replace" ng-class="{on:generated}">{{jobTitle}}</span> who loved technology. Although {{gender=='male'?'he':'she'}} loved parts of {{gender=='male'?'his':'her'}} job, {{gender=='male'?'he':'she'}} absolutely hated
            <span class="replace" ng-class="{on:generated}">{{tediousTask}}</span> and
            <span class="replace" ng-class="{on:generated}">{{dirtyTask}}</span>. So,
            <span class="replace" ng-class="{on:generated}">{{name}}</span> met with {{gender=='male'?'his':'her'}} life mentor
            <span class="replace" ng-class="{on:generated}">{{celebrity}}</span> who told {{gender=='male'?'him':'her'}} to learn how to
            <span class="replace" ng-class="{on:generated}">{{uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course on
            <span class="replace" ng-class="{on:generated}">{{uselessSkill}}</span> so {{gender=='male'?'he':'she'}} studied programming instead.
            <br/>
            <br/>
                                                                                  What a great decision! With {{gender=='male'?'his':'her'}} new skills,
            <span class="replace" ng-class="{on:generated}">{{name}}</span> built a(n)
            <span class="replace" ng-class="{on:generated}">{{adjective}}</span> robot named
            <span class="replace" ng-class="{on:generated}">{{obnoxiousCelebrity}}</span> that not only loved
            <span class="replace" ng-class="{on:generated}">{{dirtyTask}}</span> but did it
            <span class="replace" ng-class="{on:generated}">{{hugeNumber}}</span> times faster.
        </p>

        <form name="madlibsInputs" ng-submit="startOver()" novalidate>
            <input type="submit" value="Start Over"/>
        </form>
    </section>
</div>
<script type="text/javascript" src="assets/js/MadLibs.js"></script>
</body>