<section id="meal-details">
    <header>Enter the Meal Details</header>
    <form name="details" ng-controller="mealDetails" ng-submit="recordDetails()" novalidate>
        <table>
            <tr class="input-field">
                <td class="label">Base Meal Price:</td>
                <td class="unit">$</td>
                <td class="field">
                    <input placeholder="0.00" type="number" required name="mealBase" ng-model="mealBase"/>
                </td>
            </tr>
            <tr class="input-field">
                <td class="label">Tax Rate:</td>
                <td class="unit">%</td>
                <td class="field">
                    <input type="number" placeholder="0" required ng-model="taxRate"/>
                </td>
            </tr>
            <tr class="input-field">
                <td class="label">Tip Percentage:</td>
                <td class="unit">%</td>
                <td class="field">
                    <input type="number" placeholder="0" required ng-model="tipPercent"/>
                </td>
            </tr>
        </table>
        <div id="buttons">
            <input type="submit" value="Submit"/>
            <input type="button" ng-click="clearFields()" value="Cancel"/>
        </div>
    </form>
</section>
<section id="customer-charges" ng-controller="customerCharges">
    <header>Customer Charges</header>
    <table>
        <tbody>
            <tr>
                <td class="label">subtotal</td>
                <td>{{subtotal | currency}}</td>
            </tr>
            <tr>
                <td class="label">tip</td>
                <td>{{tip | currency}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="label">total</td>
                <td>{{total | currency}}</td>
            </tr>
        </tfoot>
    </table>
</section>