.make-editable {
  display:block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

div.make-editable .content{
  width: 90%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.make-editable .content.editable p {
  background-color: antiquewhite;
}


div.make-editable .controls {
  width: 100%;
  margin-left: auto;
  background-color: aliceblue;
  display:block;
  text-align: right;
}

div.make-editable .controls button {

}

div#content > h1 {
  text-align: center;
}


div#content {
  text-align: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  overflow: auto;
}