div#content > h1 {
    text-align: center;
}

div#content {
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    overflow: auto;
}

table#countries {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

#countries td {
    outline: thin solid black;
}

#countries tbody tr {
    outline: thin solid black;
    cursor: pointer;

}

#countries tbody tr:hover {
    background-color: lightblue;
}

table.details {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table.nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img.map,img.flag {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

span.neighbor-link {
    margin: 2px;
}

div.country-details {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    min-height: 600px;
}

h1#name {
    padding-left: 100px;
}

td.right {
    text-align: right;
}

td.left {
    text-align: left;
}

table.details tr td {
    max-width: 200px;
}

table.nav tr td {
    width: 200px;
}


.loading {
    position: relative;
    height: 100%;
    min-height: 200px;
}

.loading:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9) no-repeat center center;
    background-image: url('./images/loading-animation.gif');
}

img.flag,
img.map
 {
    opacity: 0;
    transition: .5s all;
}

img.flag.loaded,
img.map.loaded
 {
    opacity: 1;
}
