div#content {
    width: 800px;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

section#icon {
    background-image: url("../../../images/mad-lib-happy-face.png");
    float: left;
    width: 201px;
    border: 1px solid;
    border-right-width: 3px;
    border-bottom-width: 3px;
}

section#title {
    align-content: center;
    padding-top: 1px;
    float: left;
    width: 593px;
    text-align: center;
    border-bottom: 2px solid;
}

header section {
    height: 201px;
}

section {
    border: 1px solid;
    overflow: auto;
}

span.replace {
    text-decoration: underline;
    font-weight: bold;
    width: 150px;
}

div.input-fields {
    float: left;
    width: 33%;
    margin-bottom: 20px;
}

input[type=text] {
    border: 2px solid #dadada;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

select {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#split {
    border-top: 4px solid;
    width: 90%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"] {
    float: right;
}

section#display {
    padding: 10px;
}

section#inputs {
    padding: 10px;
}

.glowing-border {
    /*border-radius: 7px;*/
}

.glowing-border:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

form.submitted input.ng-invalid-required, form.submitted select.ng-invalid-required {
    outline: none;
    border-color: #ED444C;
    box-shadow: 0 0 10px #ED444C;
}

div.invalid-pattern {
    color: #ED444C;
    text-align: center
}

.madlib.offscreen {
    position: absolute;
    left: -9000px;
}

.madlib.onscreen {
    position: relative;
}

.replace.on-add {
    -webkit-animation: show 1s;
    animation: show 1s;
}

.replace.on-add-stagger {
    -webkit-animation-delay: .03s;
    animation-delay: .03s;

    /* yes we still need to do this too */
    -webkit-animation-duration: 0;
    animation-duration: 0;
}

@keyframes show {
    from {
        opacity: 0;
    }
    80% {
        transform: scale(1);
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes show {
    from {
        opacity: 0;
    }
    80% {
        transform: scale(1.1);
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}